<%- include("partials/header.ejs") %>

    <title>blog</title>

    <%- include("partials/nav-bar.ejs") %>

<div class="container">
    <h1 class="heading brown-color m-4">CONTENT</h1>
    <div class="ms-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title Name</th>
                    <th scope="col">Delete / Edit</th>
                </tr>
            </thead>
            <tbody>
                <% Object.keys(posts).forEach(function(postKey) { %>
                    <tr>
                        <td>
                            <a href="/post?title=<%= postKey %>"><%= postKey %></a>
                        </td>
                        <td>
                            <a href="/delete?title=<%= postKey %>"> Delete </a>/<a href="/edit?title=<%= postKey %>"> Edit</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        
          
    </div>
</div>
    <%- include("partials/footer.ejs") %> 