<%- include("partials/header.ejs") %>

    <title>blog</title>

    <%- include("partials/nav-bar.ejs") %>

<div class="container flex-column justify-content-center align-content-center about">
    <h1 class="brown-color text-center m-5 heading"><%= title %></h1>
    <p class="text-center">
        <%= content %>
    </p>
</div>
    <%- include("partials/footer.ejs") %> 